.gameSlot {
    height: 100px;
    width: 100px;
    font-size: 30px;
    background: orange;
    border-style: solid;
    border-width: 1px;
    display: flex;
}

.slotLabel {
    margin: auto;
    font-family: "Lucida Console", Monaco, monospace;
}
