<div *ngIf="board">
  <div class="container">
    <div class="labelContainer">
      <div *ngIf="!resetable" class="player">{{ activePlayer }}</div>
      <div *ngIf="resetable" class="gameResult">{{ displayStatus }}</div>
    </div>

    <div class="gameBoard">
      <div class="row" *ngFor="let y of entries">
	<game-button
	  class="gameButton"
	  *ngFor="let x of entries"
	  [coordinate]="{x: x, y: y}"
	  [value]="getSymbol({x: x, y: y})"
	  >
	</game-button>
      </div>
    </div>

    <div *ngIf="resetable" class="resetContainer">
      <reset-button>
      </reset-button>
    </div>

  </div>
</div>
